.HomePage{
    background: url("./img/bg.png");
    padding: 25px 25px 0;
    .HP-Top{
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
        .HP-T-Left{
            height: 100px;
            width: 50vw;
            background: url("./img/logo.png");
            background-size:100%;
            background-position: 0 -200px;
            background-repeat: no-repeat;
        }
        .HP-T-Right{
            width: 38vw;
            height: 60px;
            background: #E6E6E6;
            border: #A1A4A5;
            padding-left: 10px;
            margin-top: 20px;
            border: 1px solid #B6B8B9;
            border-radius: 8px;
            .HP-T-R-Show{
                color: #444;
                display: flex;
                justify-content: space-between;
                .HP-T-R-S-delta{
                    color: #444;
                    border-left: 1px solid #C9C7C5;
                    line-height: 60px;
                    height: 60px;
                    text-align: center;
                    width: 70px;
                    font-size: 30px;
                }
            }
            .HP-T-R-navlist{
                text-decoration: none;
                color: #444;
                font-size: 60px;
                display: block;
            }
            .HP-T-R-navlist1{
                color: white;
                background: skyblue;
            }
            .HP-T-R-route{
                font-size: 40px;
            }
            .HP-T-R-Bottom{
                width: 50vw;
                position: relative;
                left: -90px;
                border: 1px solid #C7A055;
                background: white;
            }
        }
    }
    .HP-Context{
        background: #F0F0F0;
        border-radius: 5px;
        padding: 30px;
        .HP-C-Header{
            margin: 0;
            font-size: 40px;
            color: #83929d;
            margin-bottom: 10px;
        }
        .HP-C-Title{
            margin: 0;
            font-size: 45px;

        }
        .HP-C-Context{
            font-size: 40px;
            margin: 0;
            color: #444;
        }
    }
}
.HP-Bottom{
    position: fixed;
    bottom: 0px;
    height: 110px;
    width: 100%;
    background: rgba(0,0,0,0.7);
    div{
        width: 100%;
        height: 100%;
        background: url(./img/bottomdown.png);
        background-size: 100%;
        position: relative;
        span{
            color: white;
            font-size: 30px;
            position: absolute;
            top: 55px;
            left: 130px;
        }
        .HP-B-Down{
            font-size: 35px;
            text-align: center;
            width: 200px;
            height: 70px;
            line-height: 70px;
            color: white;
            background: #9AC600;
            border: 1px solid #90B706;
            border-radius: 10px;
            position: absolute;
            right: 20px;
            top: 15px;
        }
    }
}
.HP-Release{
    background: #F0F0F0;
    border-radius: 5px;
    padding: 30px;
    .Release-inp1{
        width: 518px;
        height: 68px;
        margin: 0;
        margin-bottom: 10px;
        margin-left: 50px;
    }
    .Release-inp2{
        width: 518px;
        height: 228px;
        margin: 0;
        margin-bottom: 10px;
        margin-left: 50px;
    }
    .Release-wz{
        position: relative;
        padding: 0 0 0 30px;
        margin: 0 0 34px;
        line-height: 40px;
        .Release-wz-one{
            color: #bbb;
            line-height: 0.6rem;
            height: 0.6rem;
            text-align: center;
            width: 0.7rem;
            font-size: 0.3rem;
        }
        .s-fc4{
            font-size: 10px;
            margin: 0;
            margin-left: 70px;
            margin-top: -60px;
        }
        p{
            font-size: 10px;
            margin: 0;
            margin-left: 70px;
        }
    }
    .Release-btn{
        width: 170px;
        height: 70px;
        line-height: 70px;
        border: 0;
        text-align: center;
        font-size: 40px;
        color: #ecf9fa;
        background: #9AC600;
        margin-left: 50px;
        }
}
// 喜欢的文章的样式
.likemsg{
    width: 100%;
    margin-top: -25px;
    height: 157vw;
    .contentBox{
        // width: 90%;
        height: 300px;
        margin: 0 auto;
        background: #F0F0F0;
        text-align: center;
        font-size: 50px;
        line-height: 300px;
    }
    .toBar{
        height: 80px;
        .tag{
            color: #999999;
            margin-top:30px;
            display:block;
            height: 40px;
            font-size: 35px;
            float: left;
            text-decoration: none;
        }
    }
}